.task {
  background-color: rgb(235, 235, 235);
  border: 1px solid gray;
  border-radius: 5px;
}

p,
h3 {
  position: relative;
  left: 10px;
}

.task.reminder {
  border-left: 10px solid green;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
